REACT_APP_API_URL=http://localhost:5000/api
REACT_APP_FIREBASE_CONFIG={"apiKey":"your_firebase_api_key","authDomain":"your_project.firebaseapp.com","databaseURL":"https://your_project-default-rtdb.asia-southeast1.firebasedatabase.app","projectId":"your_project_id","storageBucket":"your_project.firebasestorage.app","messagingSenderId":"your_messaging_sender_id","appId":"your_firebase_app_id"}
REACT_APP_FIREBASE_DATA_ROOT=development
